<!doctype html>
<html lang="ru">
  <head>
	  <title>Статистика звонков за текущий месяц</title>
  </head>
  <body style="background-color:silver;">
  <style>
  .textcols {
        white-space: nowrap;
}
.textcols-item {
        white-space: normal;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-left: 8%
}
.textcols .textcols-item:first-child {
        margin-right: 1%;
}

.textcols1 {
        white-space: nowrap;
}


  </style>
  <div class=textcols" >
       <div class="textcols-item">
	       <table 
		       style = 'font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                       text-align: center;
                       border-collapse: collapse;
                       border-spacing: 5px;
		       width:50%;
                       border-radius: 20px;'>
           {% for themesCount in resThemes %}
	   <tr><td>{{ themesCount }} </td><td> {{ resThemes[themesCount] }} </td><tr>
			   {% endfor %}

	       </table>
       </div>
       <div class="textcols-item">
	       <table
                       style = 'font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                       text-align: center;
                       border-collapse: collapse;
                       border-spacing: 20px;
		       width: 100%;
                       border-radius: 20px;'>
                       
		       <tr> <td> <b>Логин</b> </td> <td> <b>Звонков за месяц</b> </td> <td> <b> Звонков за сегодня  </b></td><td><b> Создано задач </b></td><td> <b>Открытых задач</b> </td> <td><b> Делегировал </b></td> <td><b> Завершил задач сам </b></td></tr> 
		       <br>	       <br> 
				       {% for userCount in resUser %}
				       <tr><td> {{ userCount }} </td><td> {{ resUser[userCount] }} </td><td> {{ resUserDay[userCount] }} </td><td>{{ userCreatedTask[userCount] }} </td><td> {{ usersOpenTask[userCount] }}</td><td> {{ usersDelegationTask[userCount] }}</td><td> {{ users[userCount] }}</td></tr>
				       {% endfor %}
	       </table><br><br>
	       <i> Общее количество задач: {{ allCount }} </i><br>
	       <i> Количество пропущенных звонков за месяц: {{ missed_month }} </i><br>
	       <i> Количество пропущенных звонков за сегодня: {{ missed_day }} </i><br>
	          <br>
            <form action="http://172.16.0.22:8016/stat">
	       <input type="submit" value="Посмотреть общую статистику за предыдущий месяц" />
       </form>

      

       <form method="POST" action="http://172.16.0.22:8012/userstat">
          <h4> Выбери сотрудника </h4>
       
          <select name="selectuser">
          {% for userCount in resUser %}
          <option>{{ userCount }}</option>
          {% endfor %}
          </select>
          <form action="http://172.16.0.22:8012/userstat" method="POST">

          <p><input type="checkbox" name="last_month" class="get_value" value=1 >Статистика за предыдущий месяц</p>
          <button class="btn select" type="submit"> Перейти на персональную страницу сотрудника </button ></form>
          </form>
         <br>
       <h4> Все магазины </h4>
       <form action="http://172.16.0.22:8013/stat" method="POST">
          <p><input type="checkbox" name="last_month" class="get_value" value=1 >Статистика за предыдущий месяц</p>
       <button class="all city" type="submit"> Статистика обращений по всем магазинам </button></form>


       <br>
       <h4> Выбери магазин </h4>


       <form method="POST" action="http://172.16.0.22:8014/statcity">
       <select name="selectcity">
       {% for cityCount in resCity %}

       <option>{{ cityCount }}</option>

       {% endfor %}

       </select>
              
       <p><input type="checkbox" name="last_month" class="get_value" value=1 >Статистика за предыдущий месяц</p>
       <form action="http://172.16.0.22:8014/starcity">
       <button class="selectcity" type="submit"> Перейти к магазину </button></form>
       </div>
	  </body>
</html>

