<!doctype html>
<html lang="ru">
  <head>
	  <title>Статистика звонков за текущий месяц</title>
  </head>
  <body style="background-color:silver;">
  <style>
  .textcols {
        white-space: nowrap;
}
.textcols-item {
        white-space: normal;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-left: 8%
}
.textcols .textcols-item:first-child {
        margin-right: 1%;
}

.textcols1 {
        white-space: nowrap;
}


  </style>
  <div class=textcols" >
       <div class="textcols-item">
	       <table 
		       style = 'font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                       text-align: center;
                       border-collapse: collapse;
                       border-spacing: 5px;
		       width:50%;
                       border-radius: 20px;'>
           {% for themesCount in resThemes %}
	   <tr><td>{{ themesCount }} </td><td> {{ resThemes[themesCount] }} </td><tr>
			   {% endfor %}

	       </table>
       </div>
       <div class="textcols-item">
	       <table
                       style = 'font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                       text-align: center;
                       border-collapse: collapse;
                       border-spacing: 20px;
		       width: 100%;
                       border-radius: 20px;'>
                       
		       <tr> <td> <b>Логин</b> </td> <td> <b>Принятых звонков за месяц</b> </td> <td> <b>Создано задач</b> </td> <td><b> Делегировал </b></td> <td><b> Завершил сам </b></td></tr> 
				       
				       {% for userCount in resUser %}
		       <tr><td> {{ userCount }} </td><td> {{ resUser[userCount] }} </td><td> {{ userCreatedTask[userCount] }}</td><td> {{ usersDelegationTask[userCount] }}</td><td> {{ users[userCount] }}</td></tr>
				       {% endfor %}
	       </table><br><br>
	       <i> Общее количество задач: {{ allCount }} </i><br>
	       <i> Количество пропущенных звонков за месяц: {{ missed_month }} </i><br>
        <br>

      

      </div>
	  </body>
</html>

