<!doctype html>
<html lang="ru">
  <head>
	  <title>Статистика звонков за текущий месяц по магазинам</title>
  </head>
  <body style="background-color:silver;">
  <style>
  .textcols {
        white-space: nowrap;
}
.textcols-item {
        white-space: normal;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin-left: 8%
}
.textcols .textcols-item:first-child {
        margin-right: 1%;
}

.textcols1 {
        white-space: nowrap;
}


  </style>
  <div class=textcols" >
       <div class="textcols-item">
	       <table 
		       style = 'font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                       text-align: center;
                       border-collapse: collapse;
                       border-spacing: 5px;
		       width: 40%;
                       border-radius: 20px;'>
           {% for cityCount in resCity %}
	   <tr><td>{{ cityCount }} </td><td> {{ resCity[cityCount] }} </td><tr>
			   {% endfor %}

	       </table>
       </div>
  </body>
</html>

