<!DOCTYPE html>
<html>
	<head>
		<title>Страница входящего звонка</title>
	</head>
<body style="background-color:silver;">
<style>

.textcols {
	white-space: nowrap;
	border-top: 2px solid #3b4a5c;
}
.textcols-item {
        white-space: normal;
        display: inline-block;
        width: 30%;
        vertical-align: top;
	margin-left: 6%;
}
.textcols .textcols-item:first-child {
        margin-right: 1%;
}

.textcols1 {
        white-space: nowrap;
	border-top: 2px solid #3b4a5c;
}
.textcols1-item {
        white-space: normal;
        display: inline-block;
        width: 29%;
        vertical-align: top;
        margin-left: 6%
}
.textcols1 .textcols1-item:first-child {
        margin-right: 1%;
}

</style>
<form method="post" action="http://172.16.0.22:8004/savebitrix?callid={{callid}}&city={{city}}&sip={{resultsipid}}&user={{user}}&hostname={{hostname}}" enctype='multipart/form-data'>
	<h3>Город/отдел: {{city}}<br>
		Входящий номер: {{resultsipid}}</h3>
<br>
    <div class="textcols">
	<div class="textcols-item" >
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Тормозит 1с">Тормозит 1с</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Не работает функция в 1с">Не работает функция в 1с</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Карты лояльности">Карты лояльности</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Подарочные сертификаты">Подарочные сертификаты </p>
                <p> <input type="checkbox" name="checkbox" class="get_value" value="Обмен между базами">Обмен между базами</p>
	        <p> <input type="checkbox" name="checkbox" class="get_value" value="Себестоимость">Себестоимость </p>
                <p> <input type="checkbox" name="checkbox" class="get_value" value="Открытие периода">Открытие периода </p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Права пользователя">Права пользователя</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Создание нового сотрудника">Создание нового сотрудника </p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Выемка/Внесение">Выемка/Внесение</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="ПКО/РКО и кассовая смена">ПКО/РКО и кассовая смена</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Проведение/удаление документа">Проведение/удаление документа</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Настроить отчет">Настроить отчет</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Чек коррекции">Чек коррекции </p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Не вышел чек">Не вышел чек</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Необученный персонал">Необученный персонал <span>&#129324;</span></p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Отвалился безнальник">Отвалился безнальник</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Отвалился ккм">Отвалился ккм</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="ОФД">ОФД</p>
	</div>
	<div class="textcols-item">
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Неисправность ПК">Неисправность ПК</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Проблемы с сетью">Проблемы с сетью</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Настройка ПК">Настройка ПК</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Операции с почтой">Операции с почтой</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Проблема с почтой">Проблема с почтой</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Операции с телефонией">Операции с телефонией</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Проблемы с телефонией">Проблемы с телефонией</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Видеонаблюдение">Видеонаблюдение</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Настройка принтера/сканера">Настройка принтера/сканера</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Поломка принтера/сканера">Поломка принтера/сканера</p>
                <p> <input type="checkbox" name="checkbox" class="get_value" value="Замена картриджа">Замена картриджа</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Замена контейнера">Замена контейнера</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Терминалы сбора данных">Терминалы сбора данных</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Эдо, битрикс, ритейлика">Эдо, битрикс, ритейлика</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Замена/ремонт касс">Замена/ремонт касс</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Интернет Магазин">Интернет Магазин</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Забрать посылку">Забрать посылку</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Бесполезный звонок">Бесполезный звонок</p>
	</div>
	<div class="textcols-item">
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Повторный звонок">Повторный звонок</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Массовая поломка">Массовая поломка</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Подскажите номер">Подскажите номер</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Связанные документы">Связанные документы</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Изменить форму">Изменить форму</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Невнимательный персонал">Невнимательный персонал</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Незнание регламента">Незнание регламента</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Установка цен">Установка цен</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Ошибка входа/нет доступа">Ошибка входа/нет доступа</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Уценка">Уценка</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Настроить оборудование в 1с">Настроить оборудование в 1с</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Последствия обновления">Последствия обновления</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="УПП">УПП</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Контрольная марка">Контрольная марка</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Наличка в безнале">Наличка в безнале</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Некорректная сумма НДС">Некорректная сумма НДС</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="Тип кода товара">Тип кода товара</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="ЗУП">ЗУП</p>
		<p> <input type="checkbox" name="checkbox" class="get_value" value="БП">БП</p>	
	</div>
<div class="textcols1">
	<div class="textcols1-item">
		<p><i>Имя компьютера</i><br><textarea style="font-size: 12pt" rows="1" cols="20" name="hostname" maxlength="20"> {{ pc }}</textarea></p>
		<p><i>Добавьте комментарий к задаче</i><br><textarea style="font-size: 12pt" rows="3" cols="40" name="comment" maxlength="256"></textarea></p>
	</div>
	<div class="textcols1-item">
		<h4> Выберите ответственного</h4><p>
		<select name="worker">
			<option value="999">Я</option>
			<option value="791">Мягкова Ульяна</option>
			<option value="759">Лихачева Лена</option>
			<option value="1640">Шестаков Александр</option>
			<option value="6379">Лопатина Наталья</option>
			<option value="752">Валеев Руслан</option>
			<option value="677">Крапивина Юлия</option>
			<option value="492">Фатеев Андрей</option>
			<option value="604">Потапов Кирилл</option>
			<option value="526">Винокуров Александр</option>
                        <option value="750">Христолюбов Виталий</option>
                        <option value="768">Силантьев Станислав</option>
			<option value="633">Зубарев Михаил</option>
			<option value="643">Барышников Олег</option>
			<option value="1318">Новоселов Илья</option>
			<option value="778">Суслык Евгений</option>
			<option value="764">Рахимов Марсель</option>
			<option value="676">Очканов Александр</option>
                	<option value="627">Юкляевских Сергей</option>
                	<option value="7341">Леонтьев Никита</option>
                	<option value="6462">Шлегель Александр</option>
			<option value="732">Техническая поддержка</option>
		</select></p><p>

		<form action="http://172.16.0.22:8004/savebitrix" method="POST">
		<input type="file" name="file" /> <br><br>
		<button class="btn btn-success" type="submit"> Сохранить тему и создать заявку в Битрикс </button></p></form>
	</div>

       <div class="textcols1-item">
	       <p> <input type="checkbox" name="close_task" class="get_value" value=5> Создать завершенную задачу</p>
	       <font color="#4E505A"> Последнее обращение с данного номера </font>
	       <br> Дата: <font color="#534D59"> {{ history_call['date'] }} </font>
	       <br> Тема: <font color="#534D59"> {{ history_call['themes'] }} </font>
	       <br> Сотрудник: <font color="#534D59"> {{ history_call['user'] }} </font>  
       </div>
</form>
</div>
</body>
</html>
